@{
    //var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var email = User.Identity.Name;
    var userName="";
    if(!string.IsNullOrWhiteSpace(email) && email.Length>3){
    userName = email.Split("@")[0];
    }

    //var userName = email.Length>3?email.Split("@")[0]:"";

    // Query your database or perform any other actions with the user's information if needed.
    // var current_user = _db.ApplicationUsers.Find(userId);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <title>WeConnect</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/"><h3 id="brand">WeConnect</h3></a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
        <form>
            <input type="text" class="searchBox" />
        </form>
        <div id="profile-head">
            <span class="profile-name"><a href="/Identity/Account/Logout">@userName</a></span><br />
            @* <span>1.3K Likes</span> *@
        </div>
    </nav>

    <div id="main">
        @if (!string.IsNullOrWhiteSpace(userName))
{
    <div id="post-selector">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Posts</a></li>
            <li><a asp-controller="Home" asp-action="Jobs">Jobs and Internships</a></li>
            <li><a asp-controller="Home" asp-action="Notices">Notices</a></li>
        </ul>
    </div>
}
        @RenderBody();
          </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
