@{
    ViewData["Title"] = "Jobs";
}
<form id="create-post" action="https://rroll.to/BRc2E9">
    <i class="post-icon fa-regular fa-2xl fa-circle-user"></i>
    <textarea placeholder="Create a Post"></textarea>
    <button>Submit</button>
</form>
<div id="posts">
    <div class="post">
        <div class="profile-name">
            <i class="profile-icon fa-regular fa-2xl fa-circle-user"></i>Joji
        </div>
        <br />
        <div class="post-container">
            <div class="post-stats">
                <br />
                <div class="likes">
                    <div class="rating">12</div>
                    <i class="fa-regular fa-face-smile"></i>
                </div>

                <div class="dislikes">
                    <div class="rating">69</div>
                    <i class="fa-regular fa-thumbs-down"></i>
                </div>
            </div>

            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Distinctio, facere earum ipsam harum, delectus odio commodi omnis
                iste dolorum consequatur laboriosam tempore molestias ducimus
                obcaecati modi. Temporibus voluptatum sint voluptatibus! Lorem
                ipsum dolor sit, amet consectet adfaljdlkfakldklfjalkdjslfkjad
                fadlkfjakldjflkjkljsflkj Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Natus, quae.
            </div>
        </div>
    </div>
</div>
